Request {
  layout: vertical;
  background: $boost;
  padding: 1;
  margin: 1;
}

#id-container {
  layout: horizontal;
}

#id {
  width: auto;
  margin-right: 1;
}

#date {
  width: auto;
  margin-right: 1;
}

#request-engine-container {
  background: red;
  background: $background-lighten-2;
}

#request-temperature-container,
#request-prompt-container,
#request-instruction-container,
#request-input-container {
  height: auto;
  background: $background-lighten-2;
  border-bottom: solid peachpuff;
}
#results-header {
  margin-top: 1;
}
#response-text-container {
  height: auto;
  background: $background-lighten-2;
}
#requests {
  /* background: red; */
  border-left: outer $secondary;
  /* padding-left: 1; */
  height: auto;
}
.hidden {
  visibility: hidden;
  height: 0;
  border: none;
  margin: 0;
  padding: 0;
  width: 0;
}
